{% extends 'homepage/index.html' %}
{% block title %}
Trabajos realizados - Duranjo
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/seccionlibre.css' %}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}
{% block contenido %}
<section class="quienessomos">
	<div class="wrapper">
		<div class="tituloStyle"><h2>libre</h2></div>
	</div>
</section>
{% endblock%}